# Python

__pycache__/
*.py[cod]

# Jupyter

.ipynb_checkpoints

# Data (DVC will handle these later, Git should ignore them)

data/raw/*.pdf
data/processed
data/models/



# Tools

mlruns/
.dvc/
.env

*.html