# Data Handling
numpy
pandas

# PDF Processing
pypdf
# or pdfminer.six (we will decide later)

# NLP & Modeling
gensim          # The standard for Word2Vec
nltk


# Utilities

tqdm            # Progress bars

# MLOps (For later, but good to have ready)
mlflow
dvc


fastapi
uvicorn[standard] # The server that runs FastAPI

streamlit
requests          # So Streamlit can talk to FastAPI



